@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    align-items: center;
    position: relative;
    background-image: url('./Vegetables_Melons_Cabbage_Tomatoes_Carrots_537576_1280x845.jpg');
    background-repeat: stretch;
    background-size: 100%;
    height: 100%;
}




.BigDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: 7.25rem;
    background: rgba(255, 255, 255, 0.209);
    border-radius: 15px;
}


.questionnaire {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 198, 0, 0.589);
}

.questionnaire button {
    color: rgba(0, 198, 0, 0.589);


}

h2 {
    margin-inline: 5px;
}

input {
    margin-inline: .3125rem;
}

button {
    margin-inline: 2px;
}


.card {
    width: 200px;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px solid red;
    border-radius: 5px;
    background: goldenrod;
    margin: 10px;
}

.card p {
    align-content: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    width: 100%;
}

p {
    text-align: center;
    padding-inline: 5px;
    color: rgba(0, 130, 0, 0.589);
}

.card p {
    align-content: center;
    color: black;
}

/* fdkhjghfkj */


.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 850px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
    background: rgb(255, 199, 79);
    background: linear-gradient(349deg, rgba(255, 199, 79, 1) 0%, rgba(227, 157, 8, 1) 52%, rgba(255, 199, 79, 1) 100%);
}

.modal p {
    color: black;
    font-family: "EB Garamond";

}

.modal .flex {
    display: flex;
    justify-content: space-around;
    height: 425px;
    font-family: "EB Garamond";
}

.flex img {
    border-radius: 15%;
}

.flex .ingrlisting {
    width: 26%;
    align-self: center;
}

.flex ul {
    padding-inline-start: 0px;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    margin: 0.4rem 0 0.2rem;
}

.modal img {
    width: 50%;

}

.modal h3 {
    margin-top: 0px;
}

.modalDiv {
    text-align: center;
}

.modalDiv ul {
    text-align: left;
    font-size: 0.9rem;
}

.modal li {
    line-height: 25px;
}

.modalDiv p {
    padding-inline: 15%;
    line-height: 30px;
}


button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}


.btn-close {
    transform: translate(395px, -416px);
    padding: 0.5rem 0.7rem;
    position: relative;
    background: rgba(0, 0, 0, 0.0);
    color: wheat;
    font-size: 2rem;
    border-radius: 45%;
    margin-inline: 409px;
    padding-block: 0%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}


.hidden {
    display: none;
}